<div class="contact-container">
    <div class="contact-content">
        <div class="contact-section" data-aos="fade-left" data-aos-duration="800">
            <h1>Kontakt telefoniczny</h1>
            <h3>
                <a href="tel:+48777666555">
                    <mat-icon>phone</mat-icon>
                    777 666 555
                </a>
            </h3>
            <h3>
                <a href="tel:+48555777333">
                    <mat-icon>phone</mat-icon>
                    555 777 333
                </a>
            </h3>
            <h4>pon - sob 8:00 - 22:00</h4>
            <h5>Zadzwoń lub wyślij SMS o treści "NETIA" - oddzwonimy</h5>
        </div>
        <div class="contact-section" data-aos="fade-right" data-aos-duration="800">
            <h1>Kontakt mailowy</h1>
            <h3>
                <a href="mailto:jankowalski@przedstawiciel.com">
                    <mat-icon>mail_outline</mat-icon>
                    jankowalski@przedstawiciel.com
                </a>
            </h3>
            <h3>
                <a href="mailto:adamnowak@przedstawiciel.com">
                    <mat-icon>mail_outline</mat-icon>
                    adamnowak@przedstawiciel.com
                </a>
            </h3>
        </div>
        <div class="contact-section english" data-aos="fade-left" data-aos-duration="800">
            <h1>We speak English!</h1>
            <h4>Speakers of English are invited to contact us at the following addresses</h4>
            <h3>
                <a href="tel:+48555777333">
                    <mat-icon>phone</mat-icon>
                    505 404 303
                </a>
            </h3>
            <h3>
                <a href="mailto:adamnowak@przedstawiciel.com">
                    <mat-icon>mail_outline</mat-icon>
                    krzysztofzielinski@przedstawiciel.com
                </a>
            </h3>
        </div>
    </div>
</div>