<div class="packets-container">
    <h1 class="packets-header" data-aos="zoom-in" data-aos-duration="700">Pakiety - internet, telewizja i telefon</h1>
    <div class="packets-list">
        <div class="packet"
             data-aos="flip-right"
             data-aos-duration="700"
             *ngFor="let packet of packetsData"
        >
            <div class="ribbon ribbon-top-right" *ngIf="packet.ribbon"><span>{{ packet.ribbon }}</span></div>
            <div class="packet-header" [ngStyle]="{'backgroundColor': packet.color}">
                <h1>{{ packet.header }}</h1>
                <p>{{ packet.subHeader }}</p>
            </div>
            <div class="packet-body">
                <span class="price">
                    <h1 [ngStyle]="{'color': packet.color}">
                        {{ packet.price }}
                    </h1>
                    <h3>miesięcznie</h3>
                </span>
                <div *ngFor="let detail of packet.details; let i = index">
                    <p>
                        <mat-icon>{{ detail.icon }}</mat-icon>
                        <span>{{ detail.name }}</span>
                    </p>
                    <hr *ngIf="i < packet.details.length-1">
                </div>
            </div>
            <div class="packet-footer">
                <button routerLink="/kontakt">Zadzwoń i zamów!</button>
            </div>
        </div>
    </div>
</div>