<div class="sidebar-container">
    <div class="close-icon">
        <mat-icon (click)="toggleSidebar.emit()">close</mat-icon>
    </div>
    <div class="sidebar-menu">
        <div class="sidebar-link" (click)="scroll('home')" routerLink="/">
            Home
        </div>
        <div class="sidebar-link" (click)="toggleSidebar.emit()" routerLink="/pakiety">
            Pakiety
        </div>
        <div class="sidebar-link" (click)="toggleSidebar.emit()" routerLink="/internet">
            Internet
        </div>
        <div class="sidebar-link" (click)="toggleSidebar.emit()" routerLink="/telewizja">
            Telewizja
        </div>
        <div class="sidebar-link" (click)="toggleSidebar.emit()" routerLink="/telefon">
            Telefonia
        </div>
        <div class="sidebar-link" (click)="toggleSidebar.emit()" routerLink="/kontakt">
            Kontakt
        </div>
    </div>
</div>